.form-container {
  width: 56vh;
  height: 65vh;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.login-form {
  display: flex;
  height: 90%;
  transform: translateY(5.5%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-form h2 {
  text-shadow: 1px 1px 3px black;
}
.login-form input {
  margin: 0%;
}
